name: Build and push to ACR

on:
  workflow_dispatch:
  push:
    branches:
      - master
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: "0 0 * * Tue"

jobs:
  main:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    env:
      AZURE_CONTAINER_REGISTRY_URL: hmctspublic.azurecr.io
      NEW_AZURE_CONTAINER_REGISTRY_URL: hmctsprod.azurecr.io
    steps:
      - name: Checkout Source
        uses: actions/checkout@v3

      - name: Generate build ID
        id: prep
        run: |
          sha=${GITHUB_SHA::8}
          ts=$(date +%s)
          echo "BUILD_ID=${sha}-${ts}" >> $GITHUB_OUTPUT

      - name: 'Az CLI login'
        uses: azure/login@v2
        with:
          client-id: b354d443-d632-4d61-8ee8-2abc2c7baf23 # DTS Shared GitHub Actions ACR Publisher 1
          tenant-id: 531ff96d-0ae9-462a-8d2d-bec7c0b42082 # HMCTS.NET
          allow-no-subscriptions: true

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      # HMCTSPROD ACR
      - name: 'ACR Login - ${{ env.NEW_AZURE_CONTAINER_REGISTRY_URL }}'
        run: |
          az acr login --name hmctsprod

      - name: 'Build and Push prod image - ${{ env.NEW_AZURE_CONTAINER_REGISTRY_URL }}'
        if: github.ref == 'refs/heads/master'
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ env.NEW_AZURE_CONTAINER_REGISTRY_URL }}/tf-utils:${{ steps.prep.outputs.BUILD_ID }}

      # HMCTSPUBLIC ACR - to be deprecated post migration to hmctsprod
      - name: Login to Azure Container Repository
        uses: docker/login-action@v2
        with:
          registry: ${{ env.AZURE_CONTAINER_REGISTRY_URL }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      - name: Build and Push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ env.AZURE_CONTAINER_REGISTRY_URL }}/tf-utils:${{ steps.prep.outputs.BUILD_ID }}